<!-- Map pattern -->
<div class="map-pattern"></div>

<!-- WTF -->
<div class="wtf">

	<!-- Content -->
	<div class="structure">
	
		<div class="item">
			<hgroup>	
				<h2>Hello! I'm Ignacio Sans</h2>
				<h3>A graphic designer, front-end developer &amp; entrepreneur located in BUE / SCL</h3>
			</hgroup>
		</div>
		<div class="item">
			<span>WTF?</span>
		</div>
		<div class="item text">
			<p>My focus is at product building, UI design and wireframes. I have more than 10 years of experience in the field. I'm passionate and responsible in leadership, specialized in JS development with Backbone, designing and building HTML5/CSS3 responsive websites, re-designing via CSS, and Wordpress implementation.</p>
			<p>Since 2010, I'm partner of Junar, an Open Data platform, where I have been leading it's design. In the past, I co-founded Ideas Locomotoras, and for 8 years I created websites for clients in Argentina, Chile and the US. Previously, I served as CTO at Iconosur, an internet producer agency, where I helped bringing to life several major online newspapers in LATAM. Since 2014, I have been designing data visualizations for some ministries in Chile.</p>
			<p>I'm interested to improve on UX design. I'm also very attracted to industrial design projects, particularly with the ones that perform interaction design with objects. Say hello via <a href="mailto:hola@ignaciosans.com" title="E-mail me!">e-mail</a> or <a href="https://www.linkedin.com/in/ignaciosans" title="View my profile on LinkedIn" target="_blank">LinkedIn</a>.</p>
		</div>
		<div class="item">
			<div class="me-img"></div>
		</div>
		<div class="item green">
			<span>Born</span>
			<strong>Argentina <br> September 30, 1985</strong>
		</div>
		<div class="item yellow">
			<span>Degree</span>
			<strong>Graphic design <br> FADU / UBA</strong>
		</div>
		<div class="item red">
			<span>Actual job</span>
			<strong>Lead designer &amp; <br> front-end dev @ Junar</strong>
		</div>
		<div class="item violet">
			<span>Actual location</span>
			<strong>Acassuso <br> Buenos Aires, AR</strong>
		</div>

	</div>

</div>