<!-- Map pattern -->
<div class="map-pattern"></div>

<!-- WTF -->
<div class="wtf">

	<!-- Content -->
	<div class="structure">
	
		<div class="item">
			<hgroup>	
				<h2>Hello! I'm Ignacio Sans</h2>
				<h3>A graphic designer &amp; front-end developer located in Santiago, CL</h3>
			</hgroup>
		</div>
		<div class="item">
			<span>WTF?</span>
		</div>
		<div class="item text">
			<p>I'm a graphic designer graduated from the University of Buenos Aires with more than 10 years of experience designing and developing digital products. I have been involved in several design agencies and start-up companies helping them craft digital experiences.</p>
			<p>Since 2018, I'm head of design at KeyoCoin, a universal travel rewards cryptocurrency. In the past, I led the design of Junar Open Data platform for 7 years, I designed 20+ data visualizations for some ministries of Chile government, I co-founded Ideas Locomotoras, a design agency start-up, where for 8 years I created websites for clients in Argentina, Chile and the US, and also I served as CTO at Iconosur, an internet producer agency, where I helped bringing to life several major online newspapers in LATAM for 4 years.</p>
			<p>I'm very attracted to industrial design projects, particularly with the ones that perform interaction design with objects. I'm also getting involved in the illustration field at the moment. Say hello via <a href="mailto:hola@ignaciosans.com" title="E-mail me!" class="tc tc-email-bio">e-mail</a> or <a href="https://www.linkedin.com/in/ignaciosans" title="View my profile on LinkedIn" target="_blank" class="tc tc-linkedin-bio">LinkedIn</a>.</p>
		</div>
		<div class="item">
			<div class="me-img"></div>
		</div>
		<div class="item red">
			<span>Born</span>
			<strong>Buenos Aires <br> Argentina</strong>
		</div>
		<div class="item yellow">
			<span>Bachelor Degree</span>
			<strong>Graphic design <br> FADU / UBA</strong>
		</div>
		<div class="item green">
			<span>Actual job</span>
			<strong>Head of Design <br> @ KeyoCoin</strong>
		</div>
		<div class="item violet">
			<span>Actual location</span>
			<strong>Santiago <br> Chile</strong>
		</div>

	</div>

</div>