<!-- Works -->
<div class="works">

	<!-- Work images -->
	<div class="work-img">
		
		<!-- Default -->
		<!--
		<div class="work-0">
			<div class="bg gray"></div>
		</div>
		-->

		<!-- 01 -->
		<div class="work-01">
			<div class="img"></div>
			<div class="bg green"></div>
		</div>

		<!-- 02 -->
		<div class="work-02">
			<div class="img"></div>
			<div class="bg yellow"></div>
		</div>

		<!-- 03 -->
		<div class="work-03">
			<div class="img"></div>
			<div class="bg violet"></div>
		</div>

		<!-- 04 -->
		<div class="work-04">
			<div class="img"></div>
			<div class="bg red"></div>
		</div>

		<!-- 05 -->
		<div class="work-05">
			<div class="img"></div>
			<div class="bg green"></div>
		</div>

		<!-- 06 -->
		<div class="work-06">
			<div class="img"></div>
			<div class="bg red"></div>
		</div>

		<!-- 07 -->
		<div class="work-07">
			<div class="img"></div>
			<div class="bg green"></div>
		</div>

		<!-- 08 -->
		<div class="work-08">
			<div class="img"></div>
			<div class="bg green"></div>
		</div>

		<!-- 09 -->
		<div class="work-09">
			<div class="img"></div>
			<div class="bg violet"></div>
		</div>

		<!-- 10 -->
		<div class="work-10">
			<div class="img"></div>
			<div class="bg red"></div>
		</div>

		<!-- 11 -->
		<div class="work-11">
			<div class="img"></div>
			<div class="bg violet"></div>
		</div>

		<!-- 12 -->
		<div class="work-12">
			<div class="img"></div>
			<div class="bg red"></div>
		</div>

		<!-- 13 -->
		<div class="work-13">
			<div class="img"></div>
			<div class="bg red"></div>
		</div>

		<!-- 14 -->
		<div class="work-14">
			<div class="img"></div>
			<div class="bg green"></div>
		</div>

		<!-- 15 -->
		<div class="work-15">
			<div class="img"></div>
			<div class="bg green"></div>
		</div>

		<!-- 16 -->
		<div class="work-16">
			<div class="img"></div>
			<div class="bg violet"></div>
		</div>

	</div>	

	<!-- Map pattern -->
	<div class="map-pattern"></div>

</div>

<!-- Content -->
<div class="structure">
	
	<!-- 01 -->
	<div class="item">
		<a href="#/projects/01" class="unload">
			<span class="normal">Junar</span>
			<span class="hover">
				<span class="bg green"></span>
				<span class="text">
					<span class="subtitle">Open Data Platform</span>
					<span class="title">Junar</span>
				</span>
				<span class="tags"><span>WEB</span> <span>UI</span> <span>UX</span></span>
			</span>
		</a>
	</div>

	<!-- 02 -->
	<div class="item">
		<a href="#/projects/02" class="unload">
			<span class="normal">Patín + Calle</span>
			<span class="hover">
				<span class="bg yellow"></span>
				<span class="text">
					<span class="subtitle">Skateboarding short film</span>
					<span class="title">Patín + Calle</span>
				</span>
				<span class="tags"><span>FILM</span> <span>VIDEO EDITING</span> <span>PHOTO</span></span>
			</span>
		</a>
	</div>

	<!-- 03 -->
	<div class="item">
		<a href="#/projects/03" class="unload">
			<span class="normal">The rocket</span>
			<span class="hover">
				<span class="bg violet"></span>
				<span class="text">
					<span class="subtitle">A tablet enriched short story</span>
					<span class="title">The rocket</span>
				</span>
				<span class="tags"><span>APP</span> <span>UI</span></span>
			</span>
		</a>
	</div>

	<!-- 04 -->
	<div class="item">
		<a href="#/projects/04" class="unload">
			<span class="normal">Memories &amp; thoughts</span>
			<span class="hover">
				<span class="bg red"></span>
				<span class="text">
					<span class="subtitle">Interactive museum concept</span>
					<span class="title">Memories &amp; thoughts</span>
				</span>
				<span class="tags"><span>UI</span></span>
			</span>
		</a>
	</div>

	<!-- 05 -->
	<div class="item">
		<a href="#/projects/05" class="unload">
			<span class="normal">Logistics observatory</span>
			<span class="hover">
				<span class="bg green"></span>
				<span class="text">
					<span class="subtitle">Ministry of transportation and telecommunications</span>
					<span class="title">Logistics observatory</span>
				</span>
				<span class="tags"><span>WEB</span> <span>UI</span> <span>UX</span></span>
			</span>
		</a>
	</div>

	<!-- 06 -->
	<div class="item">
		<a href="#/projects/06" class="unload">
			<span class="normal">Bypass infographics</span>
			<span class="hover">
				<span class="bg red"></span>
				<span class="text">
					<span class="subtitle">Collectable fascicle</span>
					<span class="title">Bypass infographics</span>
				</span>
				<span class="tags"><span>PRINT</span></span>
			</span>
		</a>
	</div>

	<!-- 07 -->
	<div class="item">
		<a href="#/projects/07" class="unload">
			<span class="normal">Touches</span>
			<span class="hover">
				<span class="bg green"></span>
				<span class="text">
					<span class="subtitle">A chef’s showcase</span>
					<span class="title">Touches</span>
				</span>
				<span class="tags"><span>WEB</span> <span>UI</span> <span>PHOTO</span> <span>IDENTITY</span> <span>PRINT</span></span>
			</span>
		</a>
	</div>

	<!-- 08 -->
	<div class="item">
		<a href="#/projects/08" class="unload">
			<span class="normal">Memorize this</span>
			<span class="hover">
				<span class="bg green"></span>
				<span class="text">
					<span class="subtitle">A game to study history of graphic design </span>
					<span class="title">Memorize this</span>
				</span>
				<span class="tags"><span>WEB</span></span>
			</span>
		</a>
	</div>

	<!-- 09 -->
	<div class="item">
		<a href="#/projects/09" class="unload">
			<span class="normal">Garbage Time app</span>
			<span class="hover">
				<span class="bg violet"></span>
				<span class="text">
					<span class="subtitle">Don’t forget to take out garbage any more!</span>
					<span class="title">Garbage Time app</span>
				</span>
				<span class="tags"><span>APP</span> <span>UI</span></span>
			</span>
		</a>
	</div>

	<!-- 10 -->
	<div class="item">
		<a href="#/projects/10" class="unload">
			<span class="normal">Explorer TV</span>
			<span class="hover">
				<span class="bg red"></span>
				<span class="text">
					<span class="subtitle">Science nature channel concept</span>
					<span class="title">Explorer TV</span>
				</span>
				<span class="tags"><span>BRAND IDENTITY</span> <span>TV</span></span>
			</span>
		</a>
	</div>

	<!-- 11 -->
	<div class="item">
		<a href="#/projects/11" class="unload">
			<span class="normal">Tablón e-mag</span>
			<span class="hover">
				<span class="bg violet"></span>
				<span class="text">
					<span class="subtitle">Sports mag concept for tablet</span>
					<span class="title">Tablón mediazine</span>
				</span>
				<span class="tags"><span>APP</span> <span>UI</span> <span>PHOTO</span></span>
			</span>
		</a>
	</div>

	<!-- 12 -->
	<div class="item">
		<a href="#/projects/12" class="unload">
			<span class="normal">Washer &amp; dryer machine</span>
			<span class="hover">
				<span class="bg red"></span>
				<span class="text">
					<span class="subtitle">Product design proposal</span>
					<span class="title">Washer &amp; dryer machine</span>
				</span>
				<span class="tags"><span>UI</span> <span>UX</span> <span>PRODUCT</span></span>
			</span>
		</a>
	</div>

	<!-- 13 -->
	<div class="item">
		<a href="#/projects/13" class="unload">
			<span class="normal">Logo compilation</span>
			<span class="hover">
				<span class="bg red"></span>
				<span class="text">
					<span class="subtitle">Proposals made to clients</span>
					<span class="title">Logo compilation</span>
				</span>
				<span class="tags"><span>IDENTITY</span></span>
			</span>
		</a>
	</div>

	<!-- 14 -->
	<div class="item">
		<a href="#/projects/14" class="unload">
			<span class="normal">Signoseis</span>
			<span class="hover">
				<span class="bg green"></span>
				<span class="text">
					<span class="subtitle">Portfolio website for a filmaker studio</span>
					<span class="title">Signoseis</span>
				</span>
				<span class="tags"><span>WEB</span> <span>UI</span></span>
			</span>
		</a>
	</div>

	<!-- 15 -->
	<div class="item">
		<a href="#/projects/15" class="unload">
			<span class="normal">TumadreFilms</span>
			<span class="hover">
				<span class="bg green"></span>
				<span class="text">
					<span class="subtitle">E-commerce site for a film rental company</span>
					<span class="title">TumadreFilms</span>
				</span>
				<span class="tags"><span>WEB</span> <span>UI</span> <span>IDENTITY</span> <span>PRINT</span></span>
			</span>
		</a>
	</div>

	<!-- 16 -->
	<div class="item">
		<a href="#/projects/16" class="unload">
			<span class="normal">Vinolta</span>
			<span class="hover">
				<span class="bg violet"></span>
				<span class="text">
					<span class="subtitle">An app for blind wine tasting events</span>
					<span class="title">Vinolta</span>
				</span>
				<span class="tags"><span>APP</span> <span>UI</span></span>
			</span>
		</a>
	</div>

</div>