<!-- Map pattern -->
<div class="map-pattern"></div>

<!-- WTF -->
<div class="wtf">

	<!-- Content -->
	<div class="scroll-structure">
	
		<div class="item intro">
			<div>
				
				<hgroup>	
					<h2>Hello! <br> I'm Ignacio Sans</h2>
					<h3>A graphic designer, front-end developer &amp; entrepreneur located in BUE / SCL</h3>
				</hgroup>
				<div class="me-img clearfix"><img src="assets/images/about/im_nacho.jpg" alt="That's me!"></div>

			</div>
		</div>

		<div class="item text">
			<div>
				
				<h4>WTF?</h4>
				<p>My focus is at product building, UI design and wireframes. I have more than 10 years of experience in the field. I'm passionate and responsible in leadership, specialized in JS development with Backbone, designing and building HTML5/CSS3 responsive websites, re-designing via CSS, and Wordpress implementation.</p>
				<p>Since 2010, I'm partner of Junar, an Open Data platform, where I have been leading it's design. In the past, I co-founded Ideas Locomotoras, and for 8 years I created websites for clients in Argentina, Chile and the US. Previously, I served as CTO at Iconosur, an internet producer agency, where I helped bringing to life several major online newspapers in LATAM. Since 2014, I have been designing data visualizations for some ministries in Chile.</p>
				<p>I'm interested to improve on UX design. I'm also very attracted to industrial design projects, particularly with the ones that perform interaction design with objects. Say hello via <a href="mailto:hola@ignaciosans.com" title="E-mail me!">e-mail</a> or <a href="https://www.linkedin.com/in/ignaciosans" title="View my profile on LinkedIn" target="_blank">LinkedIn</a>.</p>

			</div>
		</div>
		
		<div class="item green">
			<div>
				
				<span>Born</span>
				<strong>Argentina, September 30, 1985</strong>

			</div>
		</div>

		<div class="item yellow">
			<div>
				
				<span>Degree</span>
				<strong>Graphic design, FADU / UBA</strong>

			</div>
		</div>

		<div class="item red">
			<div>
				
				<span>Actual job</span>
				<strong>Lead designer &amp; front-end dev @ Junar</strong>

			</div>
		</div>

		<div class="item violet">
			<div>
				
				<span>Actual location</span>
				<strong>Acassuso, Buenos Aires, AR</strong>

			</div>
		</div>

		<footer class="item footer">
			<div>
			
				<div class="logo">
					<div><span><strong>sans</strong> <span>ignaciosans.com</span></span></div>
				</div>

				<a href="mailto:hola@ignaciosans.com" class="e-mail" title="E-mail me!">hola@ignaciosans.com</a>

				<nav class="social">
					<h5>follow me</h5>
					<ul>
						<li><a href="https://www.instagram.com/dbleyenda/" title="Moments I shared on Instagram" target="_blank">instagram</a></li>
						<li><a href="https://github.com/dbleyenda" title="My code stuff on GitHub" target="_blank">github</a></li>
						<li><a href="https://www.flickr.com/photos/dbleyenda/" title="Check out some photos I took on Flickr" target="_blank">flickr</a></li>
						<li><a href="https://www.linkedin.com/in/ignaciosans" title="View my profile on LinkedIn" target="_blank">linkedin</a></li>
					</ul>
				</nav>

				<p class="go-portfolio">- Go desktop to see portfolio -</p>

			</div>
		</footer>

	</div>

</div>