/* Project Detail */
#id_projectDetail{}

	/* Common */
	#id_projectDetail .detail{position:absolute;width:100vw;height:100vh;top:0;left:0;background:#f6f6f6;}
	#id_projectDetail .aperture,
	#id_projectDetail .info{width:100vw;height:100vh;position:relative;}

		/* Texts */
		#id_projectDetail .structure .item strong,
		#id_projectDetail .structure .item span,
		#id_projectDetail .screens h3{position:absolute;left:3.125vw;right:3.125vw;font-family:"HelveticaNeue-Bold", "Helvetica Neue Bold";font-weight:300;display:block;}
		#id_projectDetail .structure .item span,
		#id_projectDetail .screens h3{font-size:0.83vw;text-transform:uppercase;}
		#id_projectDetail .structure .item strong{font-size:2.084vw;}

	/* Aperture */
	#id_projectDetail .aperture{overflow:hidden;}
	#id_projectDetail .aperture .main-img{position:absolute;width:100vw;height:100vh;top:0;left:0;background-size:cover;background-repeat:no-repeat;background-position:center center;}
	#id_projectDetail .aperture .item strong{bottom:3.7vw;}
	#id_projectDetail .aperture .item span{top:2.083vw;}
		
		/* Loading */
		@-webkit-keyframes entryItem {
			0% { top:25vh; }	
			50% { top:25vh; }	
			100% { top: 0; }	
		}
		@keyframes entryItem {
			0% { top:25vh; }	
			50% { top:25vh; }	
			100% { top: 0; }	
		}
		@-webkit-keyframes entryScroll {
			0% { left:-5vh; }	
			50% { left:-5vh; }	
			100% { left:2.8vw; }	
		}
		@keyframes entryScroll {
			0% { left:-5vh; }	
			50% { left:-5vh; }	
			100% { left:2.8vw; }	
		}
		#id_projectDetail .aperture .icon-scroll{left:2.8vw;bottom:3.5vw;-webkit-animation:entryScroll .85s;animation:entryScroll .85s;}
		#id_projectDetail .aperture .item:nth-child(13),
		#id_projectDetail .aperture .item:nth-child(14),
		#id_projectDetail .aperture .item:nth-child(15),
		#id_projectDetail .aperture .item:nth-child(16){position:relative;-webkit-transition:.55s cubic-bezier(.52,.01,.16,1);-moz-transition:.55s cubic-bezier(.52,.01,.16,1);transition:.55s cubic-bezier(.52,.01,.16,1);}
		#id_projectDetail .aperture .item:nth-child(13){-webkit-animation:entryItem .55s;animation:entryItem .55s;}
		#id_projectDetail .aperture .item:nth-child(14){-webkit-animation:entryItem .65s;animation:entryItem .65s;}
		#id_projectDetail .aperture .item:nth-child(15){-webkit-animation:entryItem .80s;animation:entryItem .80s;}
		#id_projectDetail .aperture .item:nth-child(16){-webkit-animation:entryItem .85s;animation:entryItem .85s;}

	/* Info */
	#id_projectDetail .info{background:#f6f6f6;}
	#id_projectDetail .info .grid{z-index:400;}
	#id_projectDetail .info .structure{z-index:500;position:absolute;border-bottom:1px solid rgba(0,0,0,.20);}
	#id_projectDetail .info .structure .item{box-sizing:border-box;}
	#id_projectDetail .info .structure .item:nth-child(1){-webkit-flex:0 1 100vw;flex:0 1 100vw;background:#f6f6f6;border-bottom:1px solid rgba(0,0,0,.20);border-top:1px solid rgba(0,0,0,.20);}
	#id_projectDetail .info .structure .item:nth-child(2){height:50vh;background:#fff;}
	#id_projectDetail .info .structure .item:nth-child(3){-webkit-flex:0 1 50vw;flex:0 1 50vw;height:50vh;background:#fff;border-left:1px solid rgba(0,0,0,.20);border-right:1px solid rgba(0,0,0,.20);}
	#id_projectDetail .info .structure .item:nth-child(4){height:50vh;background:#f6f6f6;}
	#id_projectDetail .info .structure .item .client-img{width:100%;height:100%;background-size:cover;background-repeat:no-repeat;background-position:center center;}
	#id_projectDetail .info .item strong{top:2.9vw;}
	#id_projectDetail .info .item span{top:2.4vw;}
	#id_projectDetail .info .item ul{padding:5.5vw 3.125vw 0 3.125vw;}
	#id_projectDetail .info .item li{font-size:0.9375vw;line-height:1.5625vw;}
	#id_projectDetail .info .item h2{font-family:'Playfair Display', serif;font-size:3.65vw;line-height:25vh;white-space:nowrap;padding:0 3.125vw;}
	#id_projectDetail .info .item.text{overflow:auto;padding:3.125vw;}
	#id_projectDetail .info .item.text p{padding-bottom:0.8vw;font-size:0.9vw;line-height:1.822vw;}
	#id_projectDetail .info .item.text p:last-child{padding-bottom:0;}

	/* Screens */
	#id_projectDetail .screens.black{background:#000;}
	#id_projectDetail .screens article{position:relative;}
	#id_projectDetail .screens article.video{width:100vw;height:100vh;background:#000;}
	#id_projectDetail .screens h3{position:absolute;top:4.167vw;}
	#id_projectDetail .screens h3 span{padding-left:1.667vw;opacity:.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
	#id_projectDetail .screens .white h3{color:#fff;} 
	#id_projectDetail .screens img{max-width:100vw;margin-bottom:0;border:0;display:block;}

	/* Footer */
	#id_projectDetail .footer{position:relative;}
	#id_projectDetail .footer .map-pattern{height:25vh;}
	#id_projectDetail .footer .structure{height:25vh;border-top:1px solid rgba(0,0,0,.20);}
	#id_projectDetail .footer .structure .item{box-sizing:border-box;border-left:1px solid rgba(0,0,0,.20);}
	#id_projectDetail .footer .structure .item:nth-child(1){border:0 !important;}
	#id_projectDetail .footer nav{font-size:0.83vw;font-family:"HelveticaNeue-Bold", "Helvetica Neue Bold";font-weight:300;position:absolute;bottom:3.125vw;left:3.125vw;}
	#id_projectDetail .footer nav ul li{display:inline-block;padding-right:1.406vw;text-transform:lowercase;}
	#id_projectDetail .footer .icon-arrow{width:3.33vw;height:3.33vw;right:3.125vw;position:absolute;cursor:pointer;top:calc(25vh/2);margin-top:calc((-3.33vw/2));z-index:500;}
	#id_projectDetail .footer .project-link{display:block;height:100%;width:100%;}
	#id_projectDetail .footer .icon-arrow.prev{left:-6.77vw;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);}
	#id_projectDetail .footer .icon-arrow.next{right:-6.77vw;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);}
	#id_projectDetail .footer .item strong{font-size:1.354vw;line-height:1.4vw;bottom:3.15vw;}
	#id_projectDetail .footer .item span{top:2.083vw;line-height:1vw;}


	/* Projects */

	/* 01 */
	#id_projectDetail #id_work-01 .aperture .main-img{background-image:url(../images/projects/01.jpg);}
	#id_projectDetail #id_work-01 .info .client-img{background-image:url(../images/projects/01/client.jpg);}

	/* 02 */
	#id_projectDetail #id_work-02 .aperture .main-img{background-image:url(../images/projects/02.jpg);}
	#id_projectDetail #id_work-02 .info .client-img{background-image:url(../images/projects/02/client.jpg);}
	#id_projectDetail #id_work-02 .screens .C{position:relative;}
	#id_projectDetail #id_work-02 .screens .secuence{position:absolute;z-index:500;bottom:6.25vw;width:100vw;text-align:center;}
	#id_projectDetail #id_work-02 .screens .secuence img{max-width:none;display:inline;}

	/* 03 */
	#id_projectDetail #id_work-03 .aperture .main-img{background-image:url(../images/projects/03.jpg);}
	#id_projectDetail #id_work-03 .info .client-img{background-image:url(../images/projects/03/client.jpg);}

	/* 04 */
	#id_projectDetail #id_work-04 .aperture .main-img{background-image:url(../images/projects/04.jpg);background-position:center top;}
	#id_projectDetail #id_work-04 .info .client-img{background-image:url(../images/projects/04/client.jpg);}
	#id_projectDetail #id_work-04 .aperture .item:nth-child(13) strong{font-size:1.8vw;}
	#id_projectDetail #id_work-04 .aperture .item:nth-child(16) strong{font-size:1.7vw;}

	/* 05 */
	#id_projectDetail #id_work-05 .aperture .main-img{background-image:url(../images/projects/05.jpg);background-position:center top;}
	#id_projectDetail #id_work-05 .info .client-img{background-image:url(../images/projects/05/client.jpg);}
	#id_projectDetail #id_work-05 .aperture .item:nth-child(13) strong{font-size:1.55vw;line-height:1.65vw;bottom:3.15vw;}

	/* 06 */
	#id_projectDetail #id_work-06 .aperture .main-img{background-image:url(../images/projects/06.jpg);}
	#id_projectDetail #id_work-06 .info .client-img{background-image:url(../images/projects/06/client.jpg);}
	#id_projectDetail #id_work-06 .aperture .item:nth-child(13) strong{font-size:1.9vw;}

	/* 07 */
	#id_projectDetail #id_work-07 .aperture .main-img{background-image:url(../images/projects/07.jpg);}
	#id_projectDetail #id_work-07 .info .client-img{background-image:url(../images/projects/07/client.jpg);}
	#id_projectDetail #id_work-07 .aperture .item:nth-child(16) strong{font-size:2vw;}

	/* 08 */
	#id_projectDetail #id_work-08 .aperture .main-img{background-image:url(../images/projects/08.jpg);background-position:center top;}
	#id_projectDetail #id_work-08 .info .client-img{background-image:url(../images/projects/08/client.jpg);}

	/* 09 */
	#id_projectDetail #id_work-09 .aperture .main-img{background-image:url(../images/projects/09.jpg);}
	#id_projectDetail #id_work-09 .info .client-img{background-image:url(../images/projects/09/client.jpg);}

	/* 10 */
	#id_projectDetail #id_work-10 .aperture .main-img{background-image:url(../images/projects/10.jpg);}
	#id_projectDetail #id_work-10 .info .client-img{background-image:url(../images/projects/10/client.jpg);}
	#id_projectDetail #id_work-10 .screens .C{position:relative;}
	#id_projectDetail #id_work-10 .screens .secuence{position:absolute;z-index:500;bottom:21.1vw;width:100vw;text-align:center;}
	#id_projectDetail #id_work-10 .screens .secuence img{max-width:none;width:41.66vw;display:inline;-webkit-box-shadow:1.72vw 1.72vw 50px rgba(0,0,0,.1);box-shadow:1.72vw 1.72vw 50px rgba(0,0,0,.1);}
	#id_projectDetail #id_work-10 .aperture .item:nth-child(16) strong{font-size:1.9vw;}

	/* 11 */
	#id_projectDetail #id_work-11 .aperture .main-img{background-image:url(../images/projects/11.jpg);}
	#id_projectDetail #id_work-11 .info .client-img{background-image:url(../images/projects/11/client.jpg);}

	/* 12 */
	#id_projectDetail #id_work-12 .aperture .main-img{background-image:url(../images/projects/12.jpg);}
	#id_projectDetail #id_work-12 .info .client-img{background-image:url(../images/projects/12/client.jpg);}
	#id_projectDetail #id_work-12 .aperture .item:nth-child(13) strong{font-size:1.6vw;}

	/* 13 */
	#id_projectDetail #id_work-13 .aperture .main-img{background-image:url(../images/projects/13.jpg);}
	#id_projectDetail #id_work-13 .info .client-img{background-image:url(../images/projects/13/client.jpg);}
	#id_projectDetail #id_work-13 .aperture .item:nth-child(15) strong{font-size:1.7vw;}

	/* 14 */
	#id_projectDetail #id_work-14 .aperture .main-img{background-image:url(../images/projects/14.jpg);background-position:center top;}
	#id_projectDetail #id_work-14 .info .client-img{background-image:url(../images/projects/14/client.jpg);}
	#id_projectDetail #id_work-14 .screens h3{top:0vw;}
	#id_projectDetail #id_work-14 .screens article:nth-child(1) h3{top:4.167vw;}

	/* 15 */
	#id_projectDetail #id_work-15 .aperture .main-img{background-image:url(../images/projects/15.jpg);background-position:center top;}
	#id_projectDetail #id_work-15 .info .client-img{background-image:url(../images/projects/15/client.jpg);}
	#id_projectDetail #id_work-15 .aperture .item:nth-child(15) strong{font-size:1.9vw;}
	#id_projectDetail #id_work-15 .aperture .item:nth-child(16) strong{font-size:2vw;}

	/* 16 */
	#id_projectDetail #id_work-16 .aperture .main-img{background-image:url(../images/projects/16.jpg);}
	#id_projectDetail #id_work-16 .info .client-img{background-image:url(../images/projects/16/client.jpg);}
	