/* Home */
#id_home{}
	
	/* Structure */
	#id_home .structure{position:absolute;top:0;left:0;}

		/* Logo */
	#id_home .logo{width:25vw;height:25vh;position:absolute;z-index:666;top:0;left:0;display:table;}
	#id_home .logo h1{height:100%;display:table-row;}
	#id_home .logo h1 > span{display:table-cell;height:100%;text-align:center;vertical-align:middle;}
	#id_home .logo h1 > span > strong{font-size:4.27vw;line-height:1.6vw;font-family:"HelveticaNeue-Bold", "Helvetica Neue Bold";font-weight:300;}
	#id_home .logo h1 > span > span{font-size:0.83vw;line-height:1.6vw;text-transform:uppercase;display:block;letter-spacing:0.14em;font-family:"HelveticaNeue-Light", "Helvetica Neue Light";}

	/* Icon Sroll */
	#id_home .tools .icon-scroll{top:1.9vw;left:2.8vw;}

	/* Arrows */
	#id_home .pagination > .icon-arrow{width:3.33vw;height:3.33vw;right:3.125vw;position:absolute;cursor:pointer;}
	#id_home .pagination .icon-arrow.prev{bottom:1.04vw;}
	#id_home .pagination .icon-arrow.next{top:1.04vw;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}

	/* Featured */
	#id_home .featured{}
	#id_home .featured > div{position:relative;width:100%;height:100%;box-sizing:border-box;padding:2vw 2.65vw;z-index:666;}
	#id_home .featured strong{font-size:0.83vw;font-family:"HelveticaNeue-Bold", "Helvetica Neue Bold";font-weight:300;text-transform:uppercase;padding-right:1.14vw;}
	#id_home .featured span{font-size:0.83vw;font-family:"HelveticaNeue-Light", "Helvetica Neue Light";text-transform:uppercase;}
	#id_home .featured h2{position:absolute;font-family:'Playfair Display', serif;font-size:3.65vw;line-height:3.65vw;white-space:nowrap;padding-bottom:3.6vw;}
	#id_home .featured h2 a{font-size:0.83vw;font-family:"HelveticaNeue-Bold", "Helvetica Neue Bold";font-weight:300;text-transform:uppercase;padding:0.78vw;border:2px solid #333;border-radius:5px;position:absolute;bottom:0;display:block;line-height:normal;-webkit-transition:.55s cubic-bezier(.52,.01,.16,1);-moz-transition:.55s cubic-bezier(.52,.01,.16,1);transition:.55s cubic-bezier(.52,.01,.16,1);}
	#id_home .featured h2 a:hover{border-color:#000;background:#333 !important;color:#fff;}
	#id_home .featured p{font-size:0.93vw;line-height:normal;box-sizing:border-box;max-width:25vw;padding-top:4.65vw;}

		/* Configs */
		#id_home .featured.featured-0 h2{left:2.65vw;}
		#id_home .featured.featured-0 h2 a{right:0;}
		#id_home .featured.featured-1 h2{right:2.65vw;}
		#id_home .featured.featured-1 h2 a{left:0;}
		#id_home .featured.featured-2 h2{left:-15vw;}
		#id_home .featured.featured-2 h2 a{left:0;}
		#id_home .featured.featured-3 h2{right:-4.69vw;}
		#id_home .featured.featured-3 h2 a{left:0;}

	/* Home Video */
	#id_home .home-video{mix-blend-mode:multiply;}

		/* Fallback images */
		#id_home .fallback-img{width:100vw;height:100vh;position:absolute;top:0;left:0;background-position:center center;background-size:cover;}
		#id_home .fallback-img > div{position:absolute;top:0;left:0;width:100vw;height:100vh;}
		#id_home .fallback-img .featured-0{background-image:url(../images/home/featured-0.jpg);}
		#id_home .fallback-img .featured-1{background-image:url(../images/home/featured-1.jpg);/*background-position:7vw 2vw;-webkit-transform:scale(0.7);-moz-transform:scale(0.7);-ms-transform:scale(0.7);-o-transform:scale(0.7);transform:scale(0.7);*/}
		#id_home .fallback-img .featured-2{background-image:url(../images/home/featured-2.jpg);}
		#id_home .fallback-img .featured-3{background-image:url(../images/home/featured-3.jpg);}

		/* Backgrounds */
		#id_home .home-bg{width:100vw;height:100vh;position:absolute;top:0;left:0;}
		#id_home .home-bg .bg{width:100vw;height:100vh;}
		/*#id_home .home-bg .map-pattern{mix-blend-mode:multiply;}*/

		/* Video BG*/
		#id_home .video-bg{width:100vw;height:100vh;position:absolute;top:0;left:0;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-transition:2s cubic-bezier(.52,.01,.16,1);-moz-transition:2s cubic-bezier(.52,.01,.16,1);transition:2s cubic-bezier(.52,.01,.16,1);}
		#id_home .video-bg.loaded{opacity:1;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
		#id_home .video-bg iframe{width:100%;height:100%;}

			/* Configs */
			#id_home.featured-1 .video-bg iframe{position:relative;left:4vw;-webkit-transform:scale(0.8);-moz-transform:scale(0.8);-ms-transform:scale(0.8);-o-transform:scale(0.8);transform:scale(0.8);}
			#id_home.featured-2 .video-bg iframe{position:relative;left:4vw;-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}

		/* Clip */
		#id_home .clip{position:absolute;top:0;left:0;width:100vw;height:100vh;}
		#id_home .clip .item{background:#000;position:absolute;width:25vw;height:25vh;}
		#id_home .clip .item.featured-0{top:calc(1*25vh);left:calc(1*25vw);}
		#id_home .clip .item.featured-1{top:calc(1*25vh);left:calc(2*25vw);}
		#id_home .clip .item.featured-2{top:calc(2*25vh);left:calc(1*25vw);}
		#id_home .clip .item.featured-3{top:calc(2*25vh);left:calc(2*25vw);}
		#id_home .clip .letter{font-size:50vw;color:#000;line-height:100vh;font-family:"HelveticaNeue-Bold", "Helvetica Neue Bold";font-weight:300;position:absolute;}
		#id_home .clip .letter.featured-0{left:50%;}
		#id_home .clip .letter.featured-1{left:18%;}
		#id_home .clip .letter.featured-2{left:50%;}
		#id_home .clip .letter.featured-3{left:12%;}

			/* Clip Screen */
			#id_home .clip.screen{mix-blend-mode:screen;background:#fff;}

			/* Loading */
			@-webkit-keyframes entryLetter{
				0% { opacity:.3;filter:alpha(opacity=30);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }	
				/*50% { opacity:.3;filter:alpha(opacity=30);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }	*/
				100% { opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }	
			}
			@keyframes item1 {
				0% { opacity:.3;filter:alpha(opacity=30);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }	
				/*50% { opacity:.3;filter:alpha(opacity=30);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }	*/
				100% { opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }	
			}

			/* Clip Over */
			#id_home .clip.over{}
			#id_home .clip.over .item,
			#id_home .clip.over .letter{opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";-webkit-transition:opacity .55s cubic-bezier(.52,.01,.16,1);-moz-transition:opacity .55s cubic-bezier(.52,.01,.16,1);transition:opacity .55s cubic-bezier(.52,.01,.16,1);}
			
				/* Configs */
				#id_home.featured-0 .clip.over .item{background-color:#f0f891;-webkit-animation:entryLetter .25s;animation:entryLetter .55s;}
				#id_home.featured-0 .clip.over .letter{color:#f0f891;-webkit-animation:entryLetter .25s;animation:entryLetter .55s;}
				/*#id_home.featured-1 .clip.over .item,
				#id_home.featured-1 .clip.over .letter{opacity:.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}*/
				#id_home.featured-1 .clip.over .item{background-color:#9de0a0;-webkit-animation:entryLetter .25s;animation:entryLetter .55s;}
				#id_home.featured-1 .clip.over .letter{color:#9de0a0;-webkit-animation:entryLetter .25s;animation:entryLetter .55s;}
				#id_home.featured-2 .clip.over .item{background-color:#7794dd;-webkit-animation:entryLetter .25s;animation:entryLetter .55s;}
				#id_home.featured-2 .clip.over .letter{color:#7794dd;-webkit-animation:entryLetter .25s;animation:entryLetter .55s;}
				#id_home.featured-3 .clip.over .item{background-color:#ff8e80;-webkit-animation:entryLetter .25s;animation:entryLetter .55s;}
				#id_home.featured-3 .clip.over .letter{color:#ff8e80;-webkit-animation:entryLetter .25s;animation:entryLetter .55s;}

	/* Featured slides configs */

	/* A */
	#id_home.featured-0 .home-bg .featured-0{display:block;}
	#id_home.featured-0 .home-bg .featured-1,
	#id_home.featured-0 .home-bg .featured-2,
	#id_home.featured-0 .home-bg .featured-3{display:none;}

	#id_home.featured-0 .fallback-img .featured-0{display:block;}
	#id_home.featured-0 .fallback-img .featured-1,
	#id_home.featured-0 .fallback-img .featured-2,
	#id_home.featured-0 .fallback-img .featured-3{display:none;}

	#id_home.featured-0 .clip .featured-0{display:block;}
	#id_home.featured-0 .clip .featured-1,
	#id_home.featured-0 .clip .featured-2,
	#id_home.featured-0 .clip .featured-3{display:none;}

	#id_home.featured-0 .structure .featured-0 > div{display:block;}
	#id_home.featured-0 .structure .featured-1 > div,
	#id_home.featured-0 .structure .featured-2 > div,
	#id_home.featured-0 .structure .featured-3 > div{display:none;}

	/* B */
	#id_home.featured-1 .home-bg .featured-1{display:block;}
	#id_home.featured-1 .home-bg .featured-0,
	#id_home.featured-1 .home-bg .featured-2,
	#id_home.featured-1 .home-bg .featured-3{display:none;}

	#id_home.featured-1 .fallback-img .featured-1{display:block;}
	#id_home.featured-1 .fallback-img .featured-0,
	#id_home.featured-1 .fallback-img .featured-2,
	#id_home.featured-1 .fallback-img .featured-3{display:none;}

	#id_home.featured-1 .clip .featured-1{display:block;}
	#id_home.featured-1 .clip .featured-0,
	#id_home.featured-1 .clip .featured-2,
	#id_home.featured-1 .clip .featured-3{display:none;}

	#id_home.featured-1 .structure .featured-1 > div{display:block;}
	#id_home.featured-1 .structure .featured-0 > div,
	#id_home.featured-1 .structure .featured-2 > div,
	#id_home.featured-1 .structure .featured-3 > div{display:none;}

	/* C */
	#id_home.featured-2 .home-bg .featured-2{display:block;}
	#id_home.featured-2 .home-bg .featured-0,
	#id_home.featured-2 .home-bg .featured-1,
	#id_home.featured-2 .home-bg .featured-3{display:none;}

	#id_home.featured-2 .fallback-img .featured-2{display:block;}
	#id_home.featured-2 .fallback-img .featured-0,
	#id_home.featured-2 .fallback-img .featured-1,
	#id_home.featured-2 .fallback-img .featured-3{display:none;}

	#id_home.featured-2 .clip .featured-2{display:block;}
	#id_home.featured-2 .clip .featured-0,
	#id_home.featured-2 .clip .featured-1,
	#id_home.featured-2 .clip .featured-3{display:none;}

	#id_home.featured-2 .structure .featured-2 > div{display:block;}
	#id_home.featured-2 .structure .featured-0 > div,
	#id_home.featured-2 .structure .featured-1 > div,
	#id_home.featured-2 .structure .featured-3 > div{display:none;}

	/* D */
	#id_home.featured-3 .home-bg .featured-3{display:block;}
	#id_home.featured-3 .home-bg .featured-0,
	#id_home.featured-3 .home-bg .featured-1,
	#id_home.featured-3 .home-bg .featured-2{display:none;}

	#id_home.featured-3 .fallback-img .featured-3{display:block;}
	#id_home.featured-3 .fallback-img .featured-0,
	#id_home.featured-3 .fallback-img .featured-1,
	#id_home.featured-3 .fallback-img .featured-2{display:none;}

	#id_home.featured-3 .clip .featured-3{display:block;}
	#id_home.featured-3 .clip .featured-0,
	#id_home.featured-3 .clip .featured-1,
	#id_home.featured-3 .clip .featured-2{display:none;}

	#id_home.featured-3 .structure .featured-3 > div{display:block;}
	#id_home.featured-3 .structure .featured-0 > div,
	#id_home.featured-3 .structure .featured-1 > div,
	#id_home.featured-3 .structure .featured-2 > div{display:none;}

